@using AuntieDot.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        CachedShopStatus shopStatus = null;
        if (User.Identity.IsAuthenticated) {
            var context = Request.RequestContext.HttpContext;
            shopStatus = CacheEngine.GetShopStatus(User.Identity.GetUserId(), context);
        }
    }
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
<!-- Shopify embedded app SDK -->
@if (shopStatus != null && shopStatus.ShopIsConnected) {
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script>
        //Initialize SDK
        ShopifyApp.init( {
            apiKey: '@ApplicationEngine.ShopifyApiKey',
            shopOrigin: 'https://' + '@shopStatus.MyShopifyDomain'
        });
        ShopifyApp.ready(function (evt) {
            //Turn off the admin page's loading bar and set the page title.    
            ShopifyApp.Bar.loadingOff();
            ShopifyApp.Bar.setTitle("@ViewBag.Title");
        });

    </script>
}

</body>
</html>