@using ShopifySharp
@model ShopifySharp.Order
@{
    ViewBag.Title = "Order " + Model.Name;
    //Grab the order's addresses. The billing address is optional and could be null. 
    var shipAddress = Model.ShippingAddress;
    var billAddress = Model.BillingAddress ?? Model.Customer.DefaultAddress;
}
<style>
    ul#items {
        list-style-type: none;
        padding: 0;
    }
</style>
<h2>Order @Model.Name</h2>
<div class="row">
    <div class="col-md-8">
        <h3>Line Items - @(Model.Fulfillments.Count()) fulfilled</h3>
        <!-- TODO: Show and fulfill line items -->
        <!-- /TODO -->
        <h3>Ship to</h3>
        <div>
            @shipAddress.Name <br/> @shipAddress.Address1 @shipAddress.Address2 <br/> @shipAddress.City @shipAddress.ProvinceCode @shipAddress.Zip
        </div>
        <h3>Shipping Numbers</h3> <ul>
            @foreach (var fulfillment in Model.Fulfillments) {
                //Note: Not all fulfillments will have a tracking number, company or URL.
                <li> @fulfillment.TrackingCompany: <a href="@fulfillment.TrackingUrl"> @fulfillment.TrackingNumber </a> </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Customer</h3>
        <p>
            @Model.Customer.FirstName @Model.Customer.LastName <br/> @Model.Customer.Email
        </p>
        <h3> Billing Address </h3>
        <div>
            @billAddress.Name <br/> @billAddress.Address1 @billAddress.Address2 <br/> @billAddress.City @billAddress.ProvinceCode @billAddress.Zip
        </div>
        <h3> Financial Status </h3>
        <p> @Model.FinancialStatus </p>
        <h3> Actions </h3>
        <form method="post" action="~/dashboard/SetStatus/@ViewBag.OrderId">
            @Html.AntiForgeryToken() @if (Model.ClosedAt == null) {
                                         <input type='hidden' name='status' value='closed'/>
                                         <button class='btn btn-primary' type='submit'> Close Order </button>
                                     }
                                     else {
                                         <input type='hidden' name='status' value='open'/>
                                         <button class='btn btn-default' type='submit'> Open Order </button>
                                     }
        </form>
    </div>
</div>
For the line items, we'll group them all into a single form that will POST to DashboardController.Fulfill with the order's id. Inside of that form, we're going to iterate over the order's line items and create a checkbox for each one. If the order has already been fulfilled, the checkbox will be disabled. If it hasn't been fulfilled, the checkbox will be enabled but unchecked.
The value of each checkbox is going to be the line item's id, and we'll set their names to items . When the form is posted, the id of any checked line item will be available in an array of ids named items .
The Shopify API gives you full control over fulfillments, including the shipping company, the shipping number, the shipping URL, which line items you're fulfilling, and how much of each line item is being fulfilled. We'll take advantage of that by also giving the form three text boxes: one for the name of a shipping company, one for a shipment tracking number, and one for the shipment tracking URL.
~Views/Dashboard/Order.cshtml
...
<h3>Line Items - @(Model.Fulfillments.Count()) fulfilled</h3>
<form method="post" action="~/dashboard/fulfill/@ViewBag.OrderId">
    @Html.AntiForgeryToken() <ul id="items">
        @foreach (var item in Model.LineItems) {
            var fulfillment = item.FulfillmentStatus == "None" ? "Not Fulfilled" : item.FulfillmentStatus;
            var disabled = item.FulfillmentStatus == "Fulfilled" ? "disabled=disabled" : "";
            <li class="checkbox">
                <label> <input type="checkbox" name="items" @disabled value="@item.Id.Value"/> @item.Quantity x @item.Name — @fulfillment </label>
            </li>
        }
    </ul> @if (Model.LineItems.Any(li => li.FulfillmentStatus != "Fulfilled"))
    {
        <div class='form-group'>
            <label class='control-label'> Shipping Company </label> <input type='text' class='form-control' name='company'/>
        </div>
        <div class='form-group'>
            <label class='control-label'> Tracking Number </label> <input type='text' class='form-control' name='number'/>
        </div>
        <div class='form-group'>
            <label class='control-label'>
                Tracking URL
            </label> <input type='text' class='form-control' name='url'/>
        </div>
        <button type="submit" class="btn btn-primary">Fulfill Selected Items</button>
    }
</form>
<h3>Ship to</h3>